@import '~@fontsource/open-sans/index.css';
@import '~@fontsource/handlee/index.css';
@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 10px;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.btn{
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

@mixin transition{
    transition: all 250ms linear;
}

@mixin btn__orange{
    background-color: $orange;
    border: none;

    &:hover{
        background-color: $butterfly;
    }
}

@mixin btn__violet{
    background-color: transparent;
    border: 2px solid $white;

    &:hover{
        background-color: $butterfly;
    }
}